﻿@using SfuPsi_Application.Models
@model SfuPsi_Application.Models.EmailGridVm
@{
    ViewBag.Title = "Email List";
    Html.Assets().Scripts.Add("/Views/PersonGrid/EmailGrid/EmailGrid.js");
}
<h3>Emails</h3>
<br />
@Html.Partial("~/Views/PersonGrid/EmailGrid/Panel/Panel.cshtml")
@(Html.Kendo().Grid<EmailVm>()
      .Name("EmailGrid")
      .Sortable()
      .Scrollable()
      .Selectable(c => c.Mode(GridSelectionMode.Multiple))
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Columns(c =>
      {
          c.Bound(b => b.PersonName);
          c.Bound(b => b.Email);
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("ReadEmails", "PersonGrid"))
          .Model(m =>
          {
              m.Id(i => i.Email);
              m.Field(f => f.Email).Editable(false);
              m.Field(f => f.PersonName).Editable(false);
          })
      )
      .Resizable(resize => resize.Columns(true))
      .Events(e =>
      {
          e.Change("onChange");
          e.DataBound("addRowHoverStyling");
      })
      // AUTO SAVE GRID LAYOUT
      .ColumnMenu().Events(c => c
          .ColumnHide("SaveGridLayout")
          .ColumnShow("SaveGridLayout")
          .ColumnReorder("SaveGridLayout")
          .ColumnResize("SaveGridLayout"))
        .KeepLayout(Html, "EmailGrid"))

