﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@{
    Html.Assets().Styles.Add("/Views/PersonGrid/Profile/Profile.css");
}
<div class="gridTemplateBlock profileBlock" personId="#= @Html.Raw(nameof(PersonVm.PersonId)) #">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            @Html.Partial("~/Views/PersonGrid/Profile/Photo/Photo.cshtml")
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            @Html.Partial("~/Views/PersonGrid/Profile/Common/Common.cshtml")
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            @Html.Partial("~/Views/PersonGrid/Profile/Note/Note.cshtml")
        </div>
    </div>
</div>
