﻿@using SfuPsi_DomainClasses
@{
    ViewBag.Title = "Programs";
}

<h3>Programs</h3>
<br />

@Html.GridPanel("ProgramGrid", "Add Program")
@(Html.Kendo().Grid<Program>()
      .Name("ProgramGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.ProgramId).Hidden(true);
          columns.Bound(bound => bound.Title);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "ProgramGrid"))
          .Model(model =>
          {
              model.Id(id => id.ProgramId);
              model.Field(id => id.ProgramId).Editable(false);
          })
          .Update("Update", "ProgramGrid")
          .Destroy("Destroy", "ProgramGrid")
          .Create("Create", "ProgramGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "ProgramGrid")
)

