﻿@model SfuPsi_Application.Models.EventGrid.EventGridVm
@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.EventGrid
@{
    ViewBag.Title = "Events";
}

<h3>Class Templates</h3>
<br />

@Html.GridPanel("EventGrid", "Add Event")
@(Html.Kendo().Grid<EventVm>()
      .ClientDetailTemplateId("tabStripTemplate")
      .Name("EventGrid")
      .Pageable(p => p.PageSizes(true).PageSizes(new[] { 5, 20, 50, 100, 500 }))
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.EventId).Hidden(true);
          columns.Bound(bound => bound.Title);
          columns.BoundAsDate(b => b.Date);
          columns.Bound(b => b.Note);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax().PageSize(20).Read(read => read.Action("Read", "EventGrid"))
          .Model(model =>
          {
              model.Id(id => id.EventId);
              model.Field(field => field.EventId).Editable(false);
          })
          .Update("Update", "EventGrid")
          .Destroy("Destroy", "EventGrid")
          .Create("Create", "EventGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "EventGrid")
)

<script id="tabStripTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=EventId#")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add().Text("Participations").Content(@<text>@Html.Partial("~/Views/EventGrid/EventParticipationGrid.cshtml", Model)</text>);
            })
            .ToClientTemplate())
</script>