﻿@model SfuPsi_Application.Models.ClassTemplateGrid.ClassTemplateGridVm
@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.ClassTemplateGrid
@{
    ViewBag.Title = "Class Templates";
}

<h3>Class Templates</h3>
<br />

@Html.GridPanel("ClassTemplateGrid", "Add Class Template")
@(Html.Kendo().Grid<ClassTemplateVm>()
      .ClientDetailTemplateId("tabStripTemplate")
      .Name("ClassTemplateGrid")
      .Pageable(p => p.PageSizes(true).PageSizes(new[] { 5, 20, 50, 100, 500 }))
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.ClassTemplateId).Hidden(true);
          columns.Bound(bound => bound.ClassTemplateTitle);
          columns.ForeignKey(fk => fk.LevelId, Model.Levels).Title("Level");
          columns.Bound(bound => bound.ClassTitle);
          columns.BoundAsMultilineText(bound => bound.ClassDescription);
          columns.Bound(bound => bound.ClassMethodology);
          columns.Bound(bound => bound.ClassSuccessCondition);
          columns.Bound(bound => bound.ClassLinks);
          columns.BoundAsMultilineText(bound => bound.ClassRecommendedLiterature);
          columns.Bound(bound => bound.ClassProfessorComment);
          columns.ForeignKey(fk => fk.SubModuleId, Model.Submodules).Title("SubModule");
          columns.ForeignKey(fk => fk.ProgramId, Model.Programs).Title("Program");
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax().PageSize(20).Read(read => read.Action("Read", "ClassTemplateGrid"))
          .Model(model =>
          {
              model.Id(id => id.ClassTemplateId);
              model.Field(field => field.ClassTemplateId).Editable(false);
          })
          .Update("Update", "ClassTemplateGrid")
          .Destroy("Destroy", "ClassTemplateGrid")
          .Create("Create", "ClassTemplateGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "ClassTemplateGrid")
)

<script id="tabStripTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=ClassTemplateId#")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add().Text("Participations").Content(@<text>@Html.Partial("~/Views/ClassTemplateGrid/ClassParticipations.cshtml", Model)</text>);
            })
            .ToClientTemplate())
</script>