﻿@using System.Collections
@model ModuleGridVm
@using SfuPsi_Application.Models
@{
    ViewBag.Title = "Modules";
}

<h3>Modules</h3>
<br />

@Html.GridPanel("ModuleGrid", "Add Module")
@(Html.Kendo().Grid<ModuleViewModel>()
      .Name("ModuleGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .ClientDetailTemplateId("moduleTabStripTemplate")
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.ModuleId).Hidden(true);
          columns.Bound(bound => bound.ModuleTitle);
          columns.Bound(bound => bound.SubModuleCount);
          columns.ForeignKey(fk => fk.ProgramId, Model.Programs).Title("Program");
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("ReadModules", "ModuleGrid"))
          .Model(model =>
          {
              model.Id(id => id.ModuleId);
              model.Field(field => field.ModuleId).Editable(false);
              model.Field(field => field.SubModuleCount).Editable(false);
          })
          .Update("UpdateModule", "ModuleGrid")
          .Destroy("DestroyModule", "ModuleGrid")
          .Create("CreateModule", "ModuleGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "ModuleGrid")
      )

<script id="moduleTabStripTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=ModuleId#")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add().Text("Sub Modules").Content(@<text>@Html.Partial("SubModuleGridTemplate")</text>);
            })
            .ToClientTemplate())
</script>

