﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@model SfuPsi_Application.Models.PersonGrid.PersonGridVm
@{ Html.Assets().Scripts.Add("/Views/PersonGrid/Panel/Panel.js"); }
<div class="grid-panel">
    <label class="grid-panel-label">Role:</label>
    @(Html.Kendo().DropDownList()
          .Name("filterRoleSelect")
          .DataTextField("Text")
          .DataValueField("Value")
          .Events(e => e.Change("onFilterRoleChange"))
          .BindTo(Model.RoleFilterList)
          .Value($"{PersonGridVm.RoleFilterAllValue}")
          .HtmlAttributes(new { style = "width: 200px;" })
          )
    <label class="grid-panel-label">Show:</label>
    @(Html.Kendo().DropDownList()
            .Name("selectionFilteringModeSelect")
            .DataTextField("Text")
            .DataValueField("Value")
            .Events(e => e.Change("onSelectionFilteringModeChange"))
            .BindTo(new[] {
                new SelectListItem
                {
                        Text = "All",
                        Value = "showAll",
                        Selected = true
                },
                new SelectListItem
                {
                        Text = "Selected",
                        Value = "showSelected",
                        Selected = false
                }})
            .Value("showAll")
            .HtmlAttributes(new { style = "width: 100px;" })
    )
    @Html.Kendo().Button().Content("Add Person").Name("addPersonButton").HtmlAttributes(new { onclick = "AddGridRow('PersonGrid')" })
    <button title="Refresh" data-role="button" class="k-button k-grid-update" role="button" aria-disabled="false" tabindex="1" onclick="onFilterRoleChange(); return false;">
        <span class="k-icon k-i-refresh"></span>
    </button>
    <button title="Clear filter" data-role="button" class="k-button" role="button" aria-disabled="false" tabindex="1" onclick="clearFilter(); return false;">
        <span class="k-icon k-no-filter"></span>
    </button>
    <button data-role="button" class="k-button" role="button" aria-disabled="false" tabindex="1" onclick="CopyEmails('PersonGrid', 'PersonEmailInput', 'PersonEmailTick', function(i) { return i.Email; })">
        Copy E-mails to Clipboard
    </button>
    <button data-role="button" class="k-button" role="button" aria-disabled="false" tabindex="1" onclick="return showListReport()">
        Person List Report
    </button>
    <img id="PersonEmailTick" src="/Images/WhiteTick_64x64.png" class="grid-panel-tick" style="display: none;" />
    <input type="text" id="PersonEmailInput" value="" style="width: 1px; height: 1px; position: absolute; top: -100px; left: -100px;">

    @*@Html.ActionLink("Show email list", "GetEmailGrid", null, new { target = "_blank" })*@
</div>
