﻿@using SfuPsi_Application.Models.LevelGrid
@using SfuPsi_DomainClasses
@model SfuPsi_Application.Models.LevelGrid.LevelGridVm
@{
    ViewBag.Title = "Levels";}

<h3>Levels</h3>
<br />

@Html.GridPanel("LevelGrid", "Add Level")
@(Html.Kendo().Grid<LevelVm>()
      .Name("LevelGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.LevelId).Hidden(true);
          columns.Bound(bound => bound.Title);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "LevelGrid"))
          .Model(model =>
          {
              model.Id(id => id.LevelId);
              model.Field(id => id.LevelId).Editable(false);
          })
          .Update("Update", "LevelGrid")
          .Destroy("Destroy", "LevelGrid")
          .Create("Create", "LevelGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "LevelGrid")
)

