﻿@model SfuPsi_Application.Models.AccountViewModel

@{
    ViewBag.Title = "User Account";
}

<h2>User Data: @User.Identity.Name</h2>
@using (Html.BeginForm("Account", "Home"))
{
    @Html.ValidationSummary(true);
    <div>
        <fieldset>
            <legend>User Data: @User.Identity.Name</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <input type="submit" value="Submit" />
        </fieldset>
    </div>
}
@Html.ActionLink("Change Password", "ChangePassword", "Home", null, null)
