﻿@using SfuPsi_Application.Models
@model SfuPsi_Application.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password: @User.Identity.Name</h2>

@using (Html.BeginForm("ChangePassword", "Home"))
{
    if (Model.Validate)
    {
        Html.ValidationSummary(true);
    }
    <div>
        <fieldset>
            <legend>Change Password: @User.Identity.Name</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.NewPassword)
                @if (Model.Validate)
                {
                    Html.ValidationMessageFor(m => m.NewPassword);
                }
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPasswordConfirm)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.NewPasswordConfirm)
                @if (Model.Validate)
                {
                    @Html.ValidationMessageFor(m => m.NewPasswordConfirm)
                }
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.CurrentPassword)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CurrentPassword)
                @if (Model.Validate)
                {
                    @Html.ValidationMessageFor(m => m.CurrentPassword)
                }
            </div>
            @Html.Hidden("Validate", "true")
            <input type="submit" value="Submit" />
        </fieldset>
    </div>
}
