﻿img.profilePhoto {
    max-width: 100%;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

input.profilePhotoInput {
    max-width: 100px;
}