﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@{
    Html.Assets().Scripts.Add("/Views/PersonGrid/Profile/Photo/Photo.js");
    Html.Assets().Styles.Add("/Views/PersonGrid/Profile/Photo/Photo.css");
    const string personIdFn = nameof(PersonVm.PersonId),
photoUrlFn = nameof(PersonVm.PhotoUrl);
}
@Html.Label("Photo:")
<img class="profilePhoto" src="#= @Html.Raw(photoUrlFn) #" alt="Photo" personId="#= @Html.Raw(personIdFn) #" />
<div class="commandLinkBlock">
    <a class="profilePhotoChange" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return profilePhotoChangeClick(this)">Change</a>
    <a class="profilePhotoRemove" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return profilePhotoRemoveClick(this);">Remove</a>
    <input type="file" name="photo" class="profilePhotoInput" value="Browse" personId="#= @Html.Raw(personIdFn) #" onchange="profilePhotoInputChange(this)" style="display:none" />
    <a class="profilePhotoCancel" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return profilePhotoCancelClick(this)" style="display:none">Cancel</a>
</div>
