﻿@using System
@using System.Web
@using SfuPsi_Application.Identity
@{
    var culture = "ru-RU"; //System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - SFU PSI</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.dataviz.min.css")" rel="stylesheet" type="text/css"/>

    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    @*<link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.materialblack.modified.min.css")" rel="stylesheet" type="text/css"/>*@
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap-grid-only.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sfu-psi.css")" rel="stylesheet" type="text/css" />
    @Html.Assets().Styles.Render()

    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/jquery.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/sfu-psi.js")"></script>
    <script>
        kendo.culture("@culture");
        var culture = kendo.culture();
        culture.calendar.patterns.F = '@Formats.CommonDateFormat';
    </script>
    @Html.Assets().Scripts.Render()
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("SFU PSI", "Index", "Home")</p>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(@User.Identity.Name, "Account", "Home", new { style = "color: blue" }, null)
                    @Html.ActionLink("Logout", "Logout", "Home")
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Home", new { returnUrl = Request.Url }, null)
                }
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        @if (User.IsAdmin())
                        {
                            <li>@Html.ActionLink("Users", "Get", "UserGrid", null, new {style = "color: blue;"})</li>
                            <li>@Html.ActionLink("Action Log", "Get", "ActionLogGrid", null, new { style = "color: blue;" })</li>
                        }
                        <li>@Html.ActionLink("Classes", "Get", "ClassGrid")</li>
                        <li>@Html.ActionLink("Modules", "Get", "ModuleGrid")</li>
                        <li>@Html.ActionLink("Persons", "Get", "PersonGrid")</li>
                        <li>@Html.ActionLink("Programs", "Get", "ProgramGrid")</li>
                        <li>@Html.ActionLink("Class Templates", "Get", "ClassTemplateGrid")</li>
                        <li>@Html.ActionLink("Events", "Get", "EventGrid")</li>
                        <li>@Html.ActionLink("Levels", "Get", "LevelGrid")</li>
                        <li>@Html.ActionLink("Semesters", "Get", "SemesterGrid")</li>
                        <li>@Html.ActionLink("Roles", "Get", "RoleGrid")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - SFU PSI</p>
            </div>
        </div>
    </footer>

    @Html.Assets().InlineScripts.Render()
</body>
</html>
