﻿@using SfuPsi_Application.Models
@model GridPanelVm
<div class="grid-panel" gridId="@Model.GridId">
    <button data-role="button" class="k-button" role="button" aria-disabled="false" tabindex="0" onclick = "AddGridRow('@Html.Raw(Model.GridId)')"><span class="k-icon k-add"></span>@Html.Raw(Model.AddButtonText)</button>
</div>
