﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@{
    Html.Assets().Styles.Add("/Views/PersonGrid/Contacts/Contacts.css");
    Html.Assets().Scripts.Add("/Views/PersonGrid/Contacts/Contacts.js");
    const string phoneNumber1Fn = nameof(PersonVm.PhoneNumber1),
        phoneNumber2Fn = nameof(PersonVm.PhoneNumber2),
        countryFn = nameof(PersonVm.Country),
        cityFn = nameof(PersonVm.City),
        zipFn = nameof(PersonVm.Zip),
        streetFn = nameof(PersonVm.Street),
        webSiteFn = nameof(PersonVm.WebSite),
        personIdFn = nameof(PersonVm.PersonId),
        emailFn = nameof(PersonVm.Email);
}

@using (Html.BeginForm("UpdateProfileContact", "PersonGrid", FormMethod.Post, new { @class = "contactForm", personId = $"#= {personIdFn} #" }))
{
    <div class="gridTemplateBlock" personId="#= @Html.Raw(nameof(PersonVm.PersonId)) #">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">

                @Html.Label("Web:")
                @Html.Kendo().TextBox().Name("email").Value(Html.ValueTemplate(emailFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactEmail" })

                @Html.Label("Phone 1:")
                @Html.Kendo().TextBox().Name("phone1").Value(Html.ValueTemplate(phoneNumber1Fn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactPhone1" })

                @Html.Label("Phone 2:")
                @Html.Kendo().TextBox().Name("phone2").Value(Html.ValueTemplate(phoneNumber2Fn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactPhone2" })

                @Html.Label("Web:")
                @Html.Kendo().TextBox().Name("web").Value(Html.ValueTemplate(webSiteFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactWeb" })

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">

                @Html.Label("Country:")
                @Html.Kendo().TextBox().Name("country").Value(Html.ValueTemplate(countryFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactCountry" })

                @Html.Label("City:")
                @Html.Kendo().TextBox().Name("city").Value(Html.ValueTemplate(cityFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactCity" })

                @Html.Label("Street:")
                @Html.Kendo().TextBox().Name("street").Value(Html.ValueTemplate(streetFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactStreet" })

                @Html.Label("Zip:")
                @Html.Kendo().TextBox().Name("zip").Value(Html.ValueTemplate(zipFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "contactZip" })

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="commandLinkBlock contactLinkBlock">
                    <a class="contactEdit" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return contactEditClick(this)">Edit</a>
                    <a class="contactUpdate" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return contactUpdateClick(this)" style="display: none;">Update</a>
                    <a class="contactCancel" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return contactCancelClick(this)" style="display: none;">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("personId", $"#= {personIdFn} #")

}

