﻿@using SfuPsi_Application.Models
@model SfuPsi_Application.Models.EmailGridVm
@{
    Html.Assets().Scripts.Add("~/Views/PersonGrid/EmailGrid/Panel/Panel.js");
}
<div class="grid-panel">
    <label>Role:</label>
    @(Html.Kendo().DropDownList()
          .Name("filterRoleSelect")
          .DataTextField("Text")
          .DataValueField("Value")
          .Events(e => e.Change("onFilterRoleChange"))
          .BindTo(Model.RoleFilterList)
          .Value($"{EmailGridVm.RoleFilterAllValue}")
          .HtmlAttributes(new { style = "width: 200px;" })
    )
    <label>Selected E-mails:</label>
    @Html.Kendo().TextBox().Name("selectedEmailsInput").HtmlAttributes(new { style = "width: 200px;", id = "selectedEmailsInput" })
    @Html.Kendo().Button().Content("Copy to Clipboard").Name("copyToClipboardButton").HtmlAttributes(new { onclick = "selectedEmailsInputClick()" })
</div>
