﻿@using SfuPsi_Application.Models
@model ClassGridVm
@{
    ViewBag.Title = "Classes";
}

<h3>Classes</h3>
<br/>

@Html.GridPanel("ClassGrid", "Add Class")
@(Html.Kendo().Grid<ClassVm>()
      .Name("ClassGrid")
      .ClientDetailTemplateId("classTabStripTemplate")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.ClassId).Hidden(true);
          columns.ForeignKey(fk => fk.LevelId, Model.Levels).Title("Level");
          columns.Bound(bound => bound.Title);
          columns.Bound(bound => bound.Description);
          columns.Bound(bound => bound.Methodology);
          columns.Bound(bound => bound.SuccessCondition);
          columns.Bound(bound => bound.Links);
          columns.Bound(bound => bound.RecommendedLiterature);
          columns.Bound(bound => bound.ProfessorComment);
          columns.ForeignKey(fk => fk.SubModuleId, Model.Submodules).Title("Submodule");
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("ReadClasses", "ClassGrid"))
          .Model(model =>
          {
              model.Id(p => p.ClassId);
              model.Field(p => p.ClassId).Editable(false);
          })
          .Update("UpdateClass", "ClassGrid")
          .Destroy("DestroyClass", "ClassGrid")
          .Create("CreateClass", "ClassGrid")
      )
      .Resizable(resize => resize.Columns(true))
      // AUTO SAVE GRID LAYOUT
      .ColumnMenu().Events(c => c
        .ColumnHide("SaveGridLayout")
        .ColumnShow("SaveGridLayout")
        .ColumnReorder("SaveGridLayout")
        .ColumnResize("SaveGridLayout"))
        .KeepLayout(Html, "ClassGrid")
      )
<script id="classTabStripTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=ClassId#")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add().Text("Occurances").Content(@<text>@Html.Partial("ClassOccuranceTemplate", Model)</text>);
                items.Add().Text("Professors").Content(@<text>@Html.Partial("ClassProfessorTemplate", Model)</text>);
            })
            .ToClientTemplate())
</script>

<script>
    function professorGridDataBound() {
        this.table.find(".k-grid-edit").hide();
    }

    $(document).ready(function () {
        ConfigureTimeEditor();
    });
</script>
