﻿@using SfuPsi_Application.Models
@using SfuPsi_DomainClasses
@{
    ViewBag.Title = "Roles";
    Html.Assets().Scripts.Add("/Views/RoleGrid/RoleGrid.js");
}

<h3>Roles</h3>
<br />

@Html.GridPanel("RoleGrid", "Add Role")
@(Html.Kendo().Grid<RoleVm>()
      .Name("RoleGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.RoleId).Hidden(true);
          columns.Bound(bound => bound.RoleTitle);
          columns.Bound(bound => bound.BuiltIn);
          columns.Bound(bound => bound.Order);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "RoleGrid"))
          .Model(model =>
          {
              model.Id(id => id.RoleId);
              model.Field(f => f.RoleId).Editable(false);
              model.Field(f => f.BuiltIn).Editable(false);
          })
          .Update("Update", "RoleGrid")
          .Destroy("Destroy", "RoleGrid")
          .Create("Create", "RoleGrid")
          .Events(events => events
          .Error("GridErrorHandlerAlert"))
      )
      .Resizable(resize => resize.Columns(true))
      .Events(events => events.DataBound("onRoleGridDataBound"))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "RoleGrid")
)


