﻿@using SfuPsi_Application.Models
@{
    ViewBag.Title = "Users";
    Html.Assets().Scripts.Add("/Views/UserGrid/UserGrid.js");
}

<h3>Users</h3>
<br />

@Html.GridPanel("UserGrid", "Add User")
@(Html.Kendo().Grid<UserVm>()
      .Name("UserGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.Id).Hidden(true);
          columns.Bound(bound => bound.UserName);
          columns.Bound(bound => bound.Email);
          columns.Bound(b => b.IsAdmin);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "UserGrid"))
          .Model(model =>
          {
              model.Id(id => id.Id);
              model.Field(f => f.Id).Editable(false);
              model.Field(f => f.IsAdmin).Editable(false);
          })
          .Update("Update", "UserGrid")
          .Destroy("Destroy", "UserGrid")
          .Create("Create", "UserGrid")
          .Events(events => events
            .Error("GridErrorHandlerAlert"))
      )
      .Resizable(resize => resize.Columns(true))
      .Events(events => events.DataBound("onUserGridDataBound"))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "UserGrid")
)

