﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@{
    Html.Assets().Scripts.Add("/Views/PersonGrid/Profile/Note/Note.js");
    Html.Assets().Styles.Add("/Views/PersonGrid/Profile/Note/Note.css");
    const string personIdFn = nameof(PersonVm.PersonId), noteFn = nameof(PersonVm.Note);
}

@using (Html.BeginForm("UpdateProfileNote", "PersonGrid", FormMethod.Post, new { @class = "noteForm", personId = $"#= {personIdFn} #" }))
{
    @Html.Label("Note:")
    <textarea name="note" class="profileNote"  personId="#= @Html.Raw(personIdFn) #" disabled="disabled">@Html.RawValueTemplate(noteFn)</textarea>
    @Html.Hidden("personId", $"#= {personIdFn} #")
}
<div class="commandLinkBlock noteLinkBlock" personId="#= @Html.Raw(personIdFn) #">
    <a class="noteEdit" href="@Url.Action(null)" onclick="return noteEditClick(this)" personId="#= @Html.Raw(personIdFn) #">Edit</a>
    <a class="noteSave" href="@Url.Action(null)" style="display: none;" onclick="return noteSaveClick(this)" personId="#= @Html.Raw(personIdFn) #">Save</a>
    <a class="noteCancel" href="@Url.Action(null)" style="display: none;" onclick="return noteCancelClick(this)" personId="#= @Html.Raw(personIdFn) #">Cancel</a>
</div>
