﻿/*
    =========== PlrRowBlock ==================================================
    =                                                                        =
    =   === PlrLeftpartBlock ===  === PlrRightpartBlock ===================  = 
    =   =                      =  =                                       =  =
    =   =   = PlrImageBlock =  =  =   = PlrFullnameBlock =                =  =                         =
    =   =                      =  =                                       =  =
    =   =                      =  =   = PlrEmailBlock =                   =  =                        =
    =   =                      =  =                                       =  =  
    =   ========================  =========================================  =
    =                                                                        =
    ==========================================================================
    
*/

hr {
    margin: 0;
}

h1 {
    text-align: center;
}

.PlrRowBlock {
    position: relative;
    display: block;
    background: #fff;
}

.PlrLeftpartBlock {
    width: 120px;
    height: 120px;
    float: left;
}

.PlrRightpartBlock {
    height: 120px;
    margin-left: 120px;
}

.PlrFullnameBlock {
    font-size: 16px;
    margin-top: 20px;
}

.PlrEmailBlock {
    font-size: 12px;
}

.PlrImageBlock {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}


