﻿@model SfuPsi_Application.Models.Reporting.PlrModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Raw(Model.Rows.FirstOrDefault()?.ReportTitle)</title>
    <link rel="stylesheet" href="/Views/Reporting/PersonListReport.css"/>
</head>
<body>
    <h1>@Html.Raw(Model.Rows.FirstOrDefault()?.ReportTitle)</h1>
    @foreach (var reportRow in Model.Rows)
    {
        <div class="PlrRowBlock">
            <div class="PlrLeftpartBlock">
                <table width="90%" height="90%" style="margin: auto" align="center" valign="center">
                    <tr>
                        <td>
                            <img class="PlrImageBlock" src="@Html.Raw(reportRow.PhotoUrl)" alt="" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="PlrRightpartBlock">
                <div class="PlrFullnameBlock">@Html.Raw(reportRow.Title) @Html.Raw(@reportRow.Name)</div>
                <div class="PlrEmailBlock">@Html.Raw(reportRow.Email)</div>
            </div>
        </div>
        <hr />
    }
</body>
</html>
