﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@model PersonGridVm
@{
    ViewBag.Title = "Persons";
    Html.Assets().Scripts.Add("/Views/PersonGrid/PersonGrid.js");
    Html.Assets().Styles.Add("/Views/PersonGrid/PersonGrid.css");
}
<h3>Persons</h3>
<br />
@Html.Partial("~/Views/PersonGrid/Panel/Panel.cshtml", Model)
@(Html.Kendo().Grid<PersonVm>()
      .Name("PersonGrid")
      .Pageable(p => p.PageSizes(true).PageSizes(new[] { 5, 20, 50, 100, 500 }))
      .Sortable()
      .Scrollable(s => s.Enabled(false))
      .ClientDetailTemplateId("tabStripTemplate")
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Command(command =>
          {
              command.Custom("Select").Text(" ");
          }).Width(90);

          columns.Bound(p => p.PersonId).Hidden(true);
          columns.Bound(p => p.PhotoUrl)
            .ClientTemplate("<img id='photo_#: data.PersonId #' height='40' alt='Photo' src='#: data.PhotoUrl #' />")
            .Title("Photo").Width(50);
          columns.Bound(p => p.Name);
          columns.Bound(p => p.Email);
          columns.BoundAsDate(p => p.DateOfBirth);
          columns.Bound(p => p.Title);
          columns.Bound(p => p.Languages);
          columns.BoundAsMultilineText(p => p.Note);
          columns.Bound(p => p.PhoneNumber1).Hidden(true);
          columns.Bound(p => p.PhoneNumber2).Hidden(true);
          columns.Bound(p => p.Country).Hidden(true);
          columns.Bound(p => p.City).Hidden(true);
          columns.Bound(p => p.Zip).Hidden(true);
          columns.Bound(p => p.Street).Hidden(true);
          columns.Bound(p => p.WebSite).Hidden(true);
          columns.BoundAsDate(p => p.StudentAdmissionDate).Hidden(true);
          columns.Bound(p => p.StudentAnalyst).Hidden(true);
          columns.Bound(p => p.StudentSupervision).Hidden(true);
          columns.Bound(p => p.StudentPreExam).Hidden(true);
          columns.BoundAsMultilineText(p => p.StudentK1Note).Hidden(true);
          columns.BoundAsDate(p => p.StudentK1Date).Hidden(true);
          columns.BoundAsMultilineText(p => p.StudentK2Note).Hidden(true);
          columns.BoundAsDate(p => p.StudentK2Date).Hidden(true);
          columns.ForeignKey(p => p.CurrentLevelId, Model.Levels).Title("Level").Hidden(true);
          columns.ForeignKey(p => p.ProgramId, Model.Programs).Title("Program").Hidden(true);

          columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); }).Width(50);

          columns.Command(command => { command.Destroy().Text(" "); }).Width(50);
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("ReadPersons", "PersonGrid").Data("getReadPersonsParams"))
          .Model(model =>
          {
              model.Id(p => p.PersonId);
              model.Field(p => p.PersonId).Editable(false);
              model.Field(p => p.PhotoUrl).Editable(false).DefaultValue("/Images/nophoto_add.jpg");
          })
          .Update("UpdatePerson", "PersonGrid")
          .Destroy("DestroyPerson", "PersonGrid")
          .Create("CreatePerson", "PersonGrid")
      )
      .Resizable(resize => resize.Columns(true))
      .Events(e =>
      {
          e.DetailExpand("personGridDetailExpand");
          e.DataBound("personGridDataBound");
      })
      .HtmlAttributes(new { @style = "width: 100%;" })
      .KeepLayout(Html, "PersonGrid")
)

<script>
    Levels = @Html.Raw(Json.Encode(Model.Levels));
    Programs = @Html.Raw(Json.Encode(Model.Programs));
    function personGridDetailExpand(e) {
        initialiseStudentBlock(e);
        initialiseProfileCommonBlock(e);
        // auto collapse other rows
        var grid = $("#PersonGrid").data("kendoGrid");
        grid.collapseRow(grid.tbody.find(' > tr.k-master-row').not(e.masterRow));
    }
</script>

<script id="tabStripTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=PersonId#")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add().Text("Profile").Content(@<text>@Html.Partial("~/Views/PersonGrid/Profile/Profile.cshtml")</text>);
                items.Add().Text("Contacts").Content(@<text>@Html.Partial("~/Views/PersonGrid/Contacts/Contacts.cshtml")</text>);
                items.Add().Text("Roles").Content(@<text>@Html.Partial("~/Views/PersonGrid/RoleGrid/RoleGrid.cshtml", Model)</text>);
                items.Add().Text("Student").Content(@<text>@Html.Partial("~/Views/PersonGrid/Student/Student.cshtml")</text>)
                        .LinkHtmlAttributes(new { @class = "studentDataLink" });
            })
            .ToClientTemplate())
</script>

