﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@{
    Html.Assets().Scripts.Add("/Views/PersonGrid/Profile/Common/Common.js");
    const string nameFn = nameof(PersonVm.Name),
        titleFn = nameof(PersonVm.Title),
        dobFn = nameof(PersonVm.DateOfBirth),
        personIdFn = nameof(PersonVm.PersonId),
        languagesFn = nameof(PersonVm.Languages);
}

@using (Html.BeginForm("UpdateProfileCommon", "PersonGrid", FormMethod.Post, new { @class = "commonForm", personId = $"#= {personIdFn} #" }))
{
    @Html.Label("Name:")
    @Html.Kendo().TextBox().Name("name").Value(Html.ValueTemplate(nameFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "commonName" })

    @Html.Label("Title:")
    @Html.Kendo().TextBox().Name("title").Value(Html.ValueTemplate(titleFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "commonTitle" })

    @Html.Label("Languages:")
    @Html.Kendo().TextBox().Name("languages").Value(Html.ValueTemplate(languagesFn)).Enable(false).HtmlAttributes(new { style = "width: 100%;", @class = "commonLanguages" })

    @Html.Label("Date Of Birth:")
    <input class="commonDob" type="text" name="dob" value='#= kendo.toString(@Html.Raw(dobFn),"@Html.Raw(Formats.CommonDateFormat)") #' style="width: 100%;" />

    @Html.Hidden("personId", $"#= {personIdFn} #")

    @Html.Hidden("commonReady", 0)
}
<div class="commandLinkBlock">
    <a class="commonEdit" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return commonEditClick(this)">Edit</a>
    <a class="commonSave" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return commonSaveClick(this)" style="display: none;">Save</a>
    <a class="commonCancel" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return commonCancelClick(this)" style="display: none;">Cancel</a>
</div>
