﻿@using SfuPsi_Application.Models.LevelGrid
@using SfuPsi_Application.Models.SemesterGrid
@using SfuPsi_DomainClasses
@{
    ViewBag.Title = "Semesters";}

<h3>Semesters</h3>
<br />

@Html.GridPanel("SemesterGrid", "Add Semester")
@(Html.Kendo().Grid<SemesterVm>()
      .Name("SemesterGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Columns(columns =>
      {
          columns.Bound(bound => bound.Id).Hidden(true);
          columns.Bound(bound => bound.Title);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          });
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "SemesterGrid"))
          .Model(model =>
          {
              model.Id(id => id.Id);
              model.Field(id => id.Id).Editable(false);
          })
          .Update("Update", "SemesterGrid")
          .Destroy("Destroy", "SemesterGrid")
          .Create("Create", "SemesterGrid")
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .KeepLayout(Html, "SemesterGrid")
)

