﻿@using SfuPsi_Application.Models
@{
    ViewBag.Title = "Action Log";
}

<h3>Action Log</h3>
<br />

@(Html.Kendo().Grid<ActionLogRecordVm>()
      .Name("ActionLogGrid")
      .Pageable()
      .Sortable()
      .Scrollable()
      .Groupable(c => c.Enabled(true))
      .Filterable(c => c.Mode(GridFilterMode.Row))
      .HtmlAttributes(new { style = "height: 800px;" })
      .Columns(columns =>
      {
          columns.Bound(b => b.UserName);
          columns.Bound(b => b.SessionId);
          columns.BoundAsDate(b => b.Date);
          columns.Bound(b => b.Time);
          columns.Bound(b => b.Controller);
          columns.Bound(b => b.Action);
          columns.Bound(b => b.Parameters);
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("Read", "ActionLogGrid"))
          .Events(events => events
            .Error("GridErrorHandlerAlert"))
      )
      .Resizable(resize => resize.Columns(true))

      // AUTO SAVE GRID LAYOUT
      .ColumnMenu().Events(c => c
        .ColumnHide("SaveGridLayout")
        .ColumnShow("SaveGridLayout")
        .ColumnReorder("SaveGridLayout")
        .ColumnResize("SaveGridLayout"))
)

<script type="text/javascript">

    $(document).ready(function () {
        GridLayout_GridId = "#ActionLogGrid";
        GridLayout_LocalStorageKey = "sfu-psi-actionLog-grid-layout";
        GridLayout_ToolbarTemplate = '';
        LoadGridLayout();

        //ConfigureTimeEditor();
    });

</script>

