﻿.grid-panel-tick {
    height: 32px;
    margin: auto;
}

div.commandLinkBlock {
    margin-top: 5px;
    border: 1px solid #ccc;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    background-color: #3f51b5;
    background-color: rgba(63, 81, 181, 0.3);
}

div.commandLinkBlock>a, div.commandLinkBlock>a:hover, div.commandLinkBlock>a:visited {
    font-weight: bold;
    background-color: transparent;
    color: #000000;
    color: rgba(0,0,0, 0.6);
}

div.grid-panel {
    background-color: #3f51b5;
    padding: 5px;
}

div.grid-panel > label {
    display: inline;
    margin-left: 20px;
    margin-right: 5px;
    color: #ffffff;
    color: rgba(255,255,255,.5);
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

div.grid-panel > span.k-dropdown, div.grid-panel > input.k-textbox {
    margin: 0;
}

div.grid-panel > a, div.grid-panel > a:hover, div.grid-panel > a:visited {
    color: white;
}
div.gridTemplateBlock label {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
}

div.gridTemplateBlock input {
    height: 30px;
    padding: 2px 4px 2px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.k-operator-hidden label {
    font-size: 12px;
}

/* Bootstrap Fix Start (http://docs.telerik.com/kendo-ui/third-party/using-kendo-with-twitter-bootstrap) */

/* reset everything to the default box model */

*, :before, :after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Bootstrap Fix End */
