﻿@using SfuPsi_Application.Models
@using SfuPsi_Application.Models.PersonGrid
@model PersonGridVm

@{
    const string k2NoteFn = nameof(PersonVm.StudentK2Note);
    const string k2DateFn = nameof(PersonVm.StudentK2Date);
    const string k1NoteFn = nameof(PersonVm.StudentK1Note);
    const string k1DateFn = nameof(PersonVm.StudentK1Date);
    const string personIdFn = nameof(PersonVm.PersonId);
    const string admissionDateFn = nameof(PersonVm.StudentAdmissionDate);
    const string analystFn = nameof(PersonVm.StudentAnalyst);
    const string supervisionFn = nameof(PersonVm.StudentSupervision);
    const string preexamFn = nameof(PersonVm.StudentPreExam);
    const string currentLevelIdFn = nameof(PersonVm.CurrentLevelId);
    const string programFn = nameof(PersonVm.ProgramId);

    Html.Assets().Scripts.Add("/Views/PersonGrid/Student/Student.js");
}

<div class="gridTemplateBlock studentBlock" personId="#= @Html.Raw(personIdFn) #">
@using (Html.BeginForm("UpdateStudentData", "PersonGrid", FormMethod.Post, new {@class = "studentForm", personId = $"#= {personIdFn} #"}))
{
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            @Html.Label("Level:")
            <input name="currentLevel" class="currentLevel" value="#= @Html.Raw(currentLevelIdFn) #" style="width: 100px;" />
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            @Html.Label("Program:")
            <input name="program" class="program" value="#= @Html.Raw(programFn) #" style="width: 100px; " />
        </div>
    </div>

    <div class="row">

        

        <!--K1-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            @Html.Label("K1 Date:")
            <input class="k1Date" type="text" name="k1Date" value='#= kendo.toString(@Html.Raw(k1DateFn),"@Html.Raw(Formats.CommonDateFormat)") #' style="width: 100%;"/>

            @Html.Label("K1 Note:")
            @Html.Kendo().TextBox().Name("k1Note").Value(Html.ValueTemplate(k1NoteFn)).Enable(false).HtmlAttributes(new {style = "width: 100%;", @class = "studentTextField"})

        </div>

        <!--K2-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            @Html.Label("K2 Date:")
            <input class="k2Date" type="text" name="k2Date" value='#= kendo.toString(@Html.Raw(k2DateFn),"@Html.Raw(Formats.CommonDateFormat)") #' style="width: 100%;"/>

            @Html.Label("K2 Note:")
            @Html.Kendo().TextBox().Name("k2Note").Value(Html.ValueTemplate(k2NoteFn)).Enable(false).HtmlAttributes(new {style = "width: 100%;", @class = "studentTextField"})

        </div>

        <!-- AdmissionDate, Analyst -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            @Html.Label("Admission Date:")
            <input class="admissionDate" type="text" name="admissionDate" value='#= kendo.toString(@Html.Raw(admissionDateFn),"@Html.Raw(Formats.CommonDateFormat)") #' style="width: 100%;"/>

            @Html.Label("Analyst:")
            @Html.Kendo().TextBox().Name("analyst").Value(Html.ValueTemplate(analystFn)).Enable(false).HtmlAttributes(new {style = "width: 100%;", @class = "studentTextField"})

        </div>

    </div>
    <div class="row">

        <!-- Supervision -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Supervision:")
            @Html.Kendo().TextBox().Name("supervision").Value(Html.ValueTemplate(supervisionFn)).Enable(false).HtmlAttributes(new {style = "width: 100%;", @class = "studentTextField" })
        </div>

        <!-- PreExam -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Pre Exam:")
            @Html.Kendo().TextBox().Name("preexam").Value(Html.ValueTemplate(preexamFn)).Enable(false).HtmlAttributes(new {style = "width: 100%;", @class = "studentTextField" })
        </div>

    </div>
    @Html.Hidden("studentReady", 0)
    @Html.Hidden("personId", $"#= {personIdFn} #")
}
    <div class="commandLinkBlock">
        <a class="studentEdit" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return studentEditClick(this)">Edit</a>
        <a class="studentSave" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return studentSaveClick(this)" style="display: none;">Save</a>
        <a class="studentCancel" href="@Url.Action(null)" personId="#= @Html.Raw(personIdFn) #" onclick="return studentCancelClick(this)" style="display: none;">Cancel</a>
    </div>

</div>

