﻿/*K1*/
.k1Wrapper {
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.k1NoteEditor {
    width: 90%;
}

div.k1LinkBlock > a, div.k1LinkBlock > a:hover, div.k1LinkBlock > a:visited {
    color: white;
    font-size: 12pt;
}

.k1StatusLine {
    color: white;
    font-size: 10pt;
    float: right;
}

/*K2*/
.k2Wrapper {
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.k2NoteEditor {
    width: 90%;
}

div.k2LinkBlock > a, div.k2LinkBlock > a:hover, div.k2LinkBlock > a:visited {
    color: white;
    font-size: 12pt;
}

.k2StatusLine {
    color: white;
    font-size: 10pt;
    float: right;
}